{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Muzix Recommender - Find a song with the exact words that you want.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>

<body>
    <div class="container">
        <div class="row">
            <div class="span2 reddish">
            </div>
            <div class="span7 offset1" >
                <h1>
                    <img src="{% static 'images/muzix_logo.png'%}" class="logo"><br/>
                    <h5>the tiny-mini music recommendation engine.</h5>
                </h1>
                <form action="" method="post">
                    <p>
                        Lets say you want to dedicate/listen a song with the words - I love your blue eyes- but, you don't know any song that 
                        has those words in its lyrics. 
                        Muzix Recommender can help you search for songs that has those words in its lyrics.<br/>
                        Just enter the words you want to be found in a song, hit the Submit button & we'll find the songs for you.<br/>
                        We'll even generate links you can use to go & listen to those songs. 
                    </p>
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input class="btn btn-large btn-primary" type="submit" value="Submit">
                </form>
                <p>
                    {{cool}} <br/><br/>
                    {% for i in songs %}
                        {{ i }} <br/>
                    {% endfor %}
                    <br/>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="komu_wairagu" data-size="large">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </p>
                <br/>
                <p>
                    This application was developed by <a href="http://www.twitter.com/komu_wairagu">@komu_wairagu</a><br/>
                    And unfortunately, the design is also his.
                </p>
                <br/>
                <p>
                    Made possible courtesy of the good APIs of <a href="http://www.musiXmatch.com">musiXmatch</a> and 
                    Groveshark's <a href="http://www.tinysong.com">TinySong</a> </p>
            </div>
            <div class="span2 reddish">
            </div>
        </div>
    </div> <!-- /container -->

</body>
</html>